body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #94d1be;
}

header {
    background-color: #3B413C;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favicon {
    height: auto;
    width: 70px;
}

h1 {
    color: #DAF0EE;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 100px);
    padding: 20px;
    box-sizing: border-box;
}

.games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-left: 20px;
    width: 45%;
}

.game-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: #DAF0EE;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.3s, opacity 0.3s;
}

.game-item:hover {
    transform: scale(1.15);
}

.game-item img {
    max-width: 100px;
    height: auto;
    object-fit: contain;
    margin-right: 20px;
}

.game-item h2 {
    font-size: 18px;
    color: #3B413C;
    margin: 0;
}

.image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.logo {
    width: 630px;
    height: auto;
    border-radius: 50px;
    transition: transform 0.3s, background-color 0.3s;
    transform-style: preserve-3d;
}

.logo.hovered {
    transform: rotateY(180deg);
    width: auto;
    height: 55%;
}

.game-item.dimmed {
    opacity: 0.3;
}
